body {
  background-color: #EEE;
}

.title {
  padding-left: 2rem;
}
.cats {
  display: flex;
  flex-flow: row wrap;
}

.cats .cat {
  background-color: white;
  margin: 1rem;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  max-width: 300px;
}
  